html {
  font-size: 100%;
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Cormorant Garamond", serif;
  color: #666666;
  padding: 0;
}
.topspace {
  padding-top: 40px;
}

.fa {
    display: inherit;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}
fa-4x {
    font-size: 4em;
}
.fa-stack-2x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-inverse {background: rgb(122,156,73);}

.services-icon {
display:inline-block;
    font-size: 40px;
    line-height: 50px;
    background-color:black;
    color:white;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;}
/*********************************************************************


                            Navigation in header


**********************************************************************/
.navbar {
  border-width: 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
  margin-bottom: 0;
}
.navbar.stick {
  position: relative;
  top: 0;
  left: 0;
  opacity: .85;
  background: white;
}
.navbar.stick {
    padding: 0px 0px;
    height: 75px !important;
    min-height: 50px;
    background: rgba(0,0,0,0.4);
    opacity: 1;
}
.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-collapse.in {/*background: rgba(0,0,0,0.4);*/}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: right;
}
.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 15px 15px;
  margin-top: 20px;
}
.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left;
}
.dropdown ul.dropdown-menu > li > a {
  padding: 5px 15px;
  width: 100%;
  white-space: normal;
}
.navbar-default {
  background-color: transparent;
  /*border: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00002c+0,9da9c3+100&0.5+0,0+100 */
/*background: -moz-linear-gradient(top,  rgba(0,0,44,0.5) 0%, rgba(157,169,195,0) 100%); /* FF3.6-15 */
/*background: -webkit-linear-gradient(top,  rgba(0,0,44,0.5) 0%,rgba(157,169,195,0) 100%); /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to bottom,  rgba(0,0,44,0.5) 0%,rgba(157,169,195,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8000002c', endColorstr='#009da9c3',GradientType=0 ); /* IE6-9 */
min-height: 100px;
padding: 20px 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  /*text-shadow: 1px 1px 10px #333;*/
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #EEE;
  background-color: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .dropdown ul.dropdown-menu > li > a {
  color: #454545;
}
.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #eeeeee;
  color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #FFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #000000;
}

.nav-logo {
    float: left;
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 200;
    color: #FFF;
    letter-spacing: 5px;
    text-shadow: 1px 1px 10px #333;
}

.nav-logo a {color: white;}
.nav-logo a:hover, .nav-logo a:visited, .nav-logo a:active {
    color: white;
    text-decoration: none;
}

.nav-logo img {
    max-width: 275px;
}
.navbar-sticky.stick .nav-logo {display:block; }
.navbar-sticky.stick .nav-logo img {height: 50px;}

.dropdown:hover .dropdown-menu {
    display: block;
}
/******************************************************************************


                                     Sidebar special Nav


*********************************************************************************/
.nav-side {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -0.37em;
}
.nav-side > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #f392b4;
}
.nav-side > li > a:hover {
  color: #bd1550;
  background: none;
}
.nav-side > li.active > a {
  color: #bd1550;
}
/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
  font-weight: 200;
  font-size: 1.1rem;
}
ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
  font-weight: 200;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  color: #333333;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
a {
  color: rgb(41,164,207);
}
a:hover {
  color: rgb(41,164,207);
  text-decoration: underline;
}
.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 2rem;
}

h6.lead {
    text-align: center;
    font-variant: small-caps;
    border-bottom: 1px solid #CCC;
    margin: 0 auto;
    padding: 0 0 30px 0;
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 100;
    color: #666;
    margin-bottom: 30px;
    max-width: 767px;
    min-width: 250px;
}

.subheader .btn-action {margin: 0 auto; max-width: 200px; display: block;}
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
/*********************************************************************


                                HEADER


**********************************************************************/
#header {
  /*background: #f4f4f4 url(../images/AbideWeb-360.jpg) center left no-repeat;*/
  background-size: cover;
  color: #7C7C7C;
  padding: 0 0 35px 0;
  height: 100vh;
  border-bottom: 40px solid rgb(122,156,73);
    box-shadow: 0px 5px 40px #666;
}
[data-slides] {
	background-image: url(../images/AbideWeb-360.jpg); /* Default image. */
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	transition: all 0.7s ease;s
}

#head img.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
#head .title {
  font-family: "Cormorant Garamond", Cormorant Garamondserif;
  font-size: 49px;
  font-size: 3.0625rem;
}
#head .title a {
  text-decoration: none;
  color: #333333;
}
#head .tagline {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2em;
  color: #7C7C7C;
  margin: 5px 0 0;
}
#head .tagline b {
  font-weight: normal;
}
#head .tagline a {
  color: #DDD;
  text-shadow: 1px 1px 10px #333;}

 .home #head {
    margin: 0 auto;
    text-align: center;
    padding: 0 3%;
    padding-top: 200px;
}

.right {
	right: 5%;
}
.left { left: 5%; }

.tagline .btn-action {margin: 15px 0; border-color: #FFF; font-size: 20px; color: #FFF; text-shadow: 1px 1px 3px #333;}
.tagline .btn-action:hover {color: #CCC; border-color: #CCC;}
.home #head .title {
  font-size: 35px;
  font-size: 3.5rem;
  color: white;
  letter-spacing: 3px;
  font-weight: 300;
  text-shadow: 1px 1px 10px #333;
}
.home #head .tagline {
  font-size: 16px;
  font-size: 2rem;
  margin: 5px 0 0;
color: #DDD;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 200;
  text-shadow: 1px 1px 10px #000;
}
/*********************************************************************


                                BOOTSTRAP


**********************************************************************/
.container {width: 100%; max-width: 100%; padding: 0;}
.section {width: 100%; padding: 5%;}
.row {max-width: 970px; margin: 0 auto;}
/*********************************************************************


                                CONTENT


**********************************************************************/
img {
  max-width: 100%;
}
.btn {
  font-size: 12px;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Cormorant Garamond", serif;
  color: #666;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0 none;
  padding: 12px 35px;
  text-shadow: 0 1px 0px #666;
}
.btn-primary {
  color: #fff;
  background-color: rgb(122,156,73);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: rgb(113,156,116);
}
.btn-action {
  font-weight: 400;
  background: transparent!important;
  border: 1px solid #666;
  text-shadow: none;
}
.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active {
  color: #999;
  border-color: #999
}
.btn-lg {
  padding: 15px 60px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold;
}
.panel-cta {
  box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
  background: #f3f3f3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
  margin: 0;
}
.panel-cta .panel-body {
  padding: 35px;
}
/* Section - Featured */
.featured {
  font-size: 13px;
  font-size: 0.9rem;
}
.featured h3 {
    font-weight: 500;
    font-family: "Cormorant Garamond", serif;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.4em;
    vertical-align: middle;
    margin: 15px 0 25px 0;
}

.featured img {display: inherit; width: 50%; border-radius: 50%; box-shadow: 0px 2px 5px #333;}
p.description {font-style: italic; font-size: 1rem; text-align: center;}
/* Section - Recent works */
.recentworks, .about-community {
	background:url('../images/cultivate4.jpg') no-repeat top right fixed rgb(122,156,73);
	background-blend-mode: soft-light;
	color: white;
	background-size:cover;
	text-shadow: 1px 1px 3px #333;
	box-shadow: inset 0px 1px 60px #333;
    -webkit-box-shadow: inset 0px 1px 60px #333;
    -moz-box-shadow: inset 0px 1px 60p #333;
    min-height: 100vh;
    padding: 10% 0;
}

.recentworks h6.lead {color: white; border-bottom: none; margin-bottom: 0;}

.recentworks .section-title {color: white;}
p.subtitle {
    font-size: 1.25rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.thumbnails {
  padding: 0;
}
.thumbnails li {
  margin-bottom: 30px;
}
.thumbnails .details {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}
.thumbnail {
  display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background: none;
}
.about-community .thumbnail {float:left;}
.thumbnail .img {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  width: 210px;
  height: 210px;
  margin: 0 0 20px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 1px 5px #333;
background: rgba(122,156,73,0.8);
}
.thumbnail img {padding: 30px;}
.about-community .thumbnail .img {width: 190px; height: 190px; margin-right: 20px;}
.about-community h3 {
    color: white;
    font-weight: 200;
}
.thumbnail .title {
  font-variant: small-caps;
  margin: 0 2em;
  display: block;
  text-indent: 0;
  font-size: 1.25rem;
}
.about-community .thumbnail .title {margin: 0 auto; margin-right: 20px;}
.thumbnail .cover {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 550ms;
  -moz-transition-duration: 550ms;
  -o-transition-duration: 550ms;
  transition-duration: 550ms;
  display: none;
}
.thumbnail .cover .more {
  position: absolute;
  bottom: 15px;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  -webkit-border-radius: 1px 0 0 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px 0 0 1px;
  -moz-background-clip: padding;
  border-radius: 1px 0 0 1px;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-shadow: 0 1px 0px #780d33;
  background: #bd1550;
  color: white;
}
.thumbnail img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.thumbnail:hover {
  color: #CCC;
  text-decoration: none;
}
.thumbnail:hover img {
-webkit-filter: saturate(55%);
}
.thumbnail:hover .cover {
  opacity: 1;
}
/* pagination */
.pagination > li > a {
  color: #808080;
  border: 0 none;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Georgia, serif;
}
.pagination > li > a:hover {
  color: #000000;
  background: none;
}
.pagination > li.active > a {
  color: #333333;
  background: none;
}
.pagination > li.active > a:hover {
  color: #000000;
  background: none;
}

/* Verse*/
p.quote-body {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 200;
    margin-top: 30px;
}
p.reference {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
p.version {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
}

/*Ministry Type*/
.ministry-button-row {width: 100%; text-align: center;}
.ministry-button {display: inline-block !important; width: 200px; margin-right: 20px !important; margin-bottom: 20px !important;}
.ministry p.lead {font-weight: 200;}
p.lead {margin-bottom: 40px;}
.ministry-name {font-weight: 400; text-transform: uppercase;}
.donate-overview h3, .donate-information h3 {font-variant: small-caps; font-weight: 200;}
.donate .col-md-6 {
    padding-left: 0;
    padding-right: 25px;
}
.donate-overview .ministry-name {font-weight: 400;}
.ministry-overview h2 {
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.75rem;
    letter-spacing: 3px;
}
.ministry-overview {
    color: #CCC;
    font-weight: 200;
    background-position-x: 30% !important;
    border-top: 40px solid rgb(122,156,73);
}
.ministry-overview .col-sm-6 {background: rgba(0,0,0,0.2); padding: 40px;}
.contact h2 {color: #666; font-size: 1.75rem; text-transform: uppercase; font-weight: 200; text-align: center; margin-bottom: 20px;}
.overview-name {font-weight: 400;}
.contact form {clear: both;}
.contact input[type="email"], .contact input[type="input"], .contact textarea[name="message"] {
    min-width: 250px;
    max-width: 500px;
    display: block;
    margin-bottom: 20px;
    font-weight: 200;
    padding: 10px;
}
.contact input[type="email"], .contact input[type="input"] {float: right;}
.contact textarea[name="message"] {min-height: 150px;}
.contact button {
    font-weight: 300;
    text-transform: uppercase;
    background: white;
    border: 1px solid #999;
    padding: 5px 30px;
}
.section.contact {
    padding-top: 40px;
    border-top: 1px solid #CCC;
    /* margin-top: 40px !important; */
    clear: both;
}
/*********************************************************************


                                 BLOG


**********************************************************************/
.section-title,
.entry-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: left;
  font-weight: 300;
font-variant: small-caps;
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: 1px;
  color: #666;
}
.section-title a,
.entry-title a {
  color: #333;
}
.section-title span,
.entry-title span {
  display: inline-block;
  position: relative;
}
/*.section-title span:before,
.entry-title span:before,
.section-title span:after,
.entry-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.section-title span:before,
.entry-title span:before {
  right: 100%;
  margin-right: 45px;
}
.section-title span:after,
.entry-title span:after {
  left: 100%;
  margin-left: 45px;
}*/
.entry-header .entry-meta {
  text-align: left;
  font-family: Georgia, serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  color: #a5a5a5;
  margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
  color: #a5a5a5;
}
.entry-content {
  margin: 0 0 15px 0;
}
.entry-content h2 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 20px;
  margin-bottom: 20px;
}
article {margin-bottom: 40px; border-bottom: 1px solid #CCC; padding-bottom: 40px;}
.meta-nav,
.more-link {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.meta-nav:hover,
.more-link:hover {
  color: #333333;
  text-decoration: underline;
}
.more-link {
  display: block;
  width: 100%;
  text-align: right;
}
/* Posts navigation */
#nav-below {
  position: fixed;
  top: 48%;
}
#nav-below .meta-nav {
  display: block;
  padding: 27px 7px;
  background: #444;
  color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: "Cormorant Garamond", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.2;
}
#nav-below .meta-nav:hover {
  text-decoration: none;
  color: #333;
}
#nav-below .nav-next {
  position: fixed;
  right: -3px;
}
#nav-below .nav-previous {
  position: fixed;
  left: -3px;
}
#nav-below b {
  display: none;
}
footer.entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}
footer.entry-meta a {
  color: #333333;
}
footer.entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  text-align: left;
}
.page-header .page-title {
  margin-top: 0;
  margin-bottom: 30px;
}
/*********************************************************************


                                COMMENTS


**********************************************************************/
#comments {
  font-size: 13px;
  font-size: 0.8125rem;
}
#comments .comments-title {
  margin: 0 0 5px 0;
}
#comments .leave-comment {
  display: block;
  margin: 0 0 40px 0;
}
#comments ul,
#comments ol {
  margin: 0;
  padding: 0;
}
#comments .comment {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
#comments .comments-title {
  text-shadow: none;
  margin-bottom: 0;
}
#comments .avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  border: 5px solid #eeeeee;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#comments .children {
  margin: 0 0 0 90px;
}
#comments .comment-meta {
  margin: 0 0 0 90px;
}
#comments .comment-meta a {
  color: #333333;
}
#comments .comment-meta a:hover {
  color: #bd1550;
}
#comments .comment-meta .author {
  margin: 0 20px 0 0;
  font-weight: bold;
}
#comments .comment-meta .date {
  margin: 0 20px 0 0;
}
#comments .comment-meta .date a {
  color: #666666;
}
#comments .comment-meta .reply {
  float: right;
}
#comments .comment-body {
  margin: 0 0 35px 90px;
}
.comment-navigation {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 2px 0 0 0;
}
.comment-navigation .nav-content {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 10px 0 0 0;
}
.comment-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
#respond {
  margin: 55px 0 0 0;
}
/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
  background: #232323;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}
#footer a {
  color: #ccc;
}
#footer a:hover {
  color: #fff;
}
#footer h3.widget-title {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}
#underfooter {
  background: none;
  padding: 15px 0;
  color: #999;
  font-size: 12px;
}
#underfooter a {
  color: #aaa;
}
#underfooter a:hover {
  color: #fff;
}

#underfooter .col-md-12.widget {
    margin: 0 auto;
    text-align: center;
}
  #underfooter p {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 2.5rem;
    display: inline-block;
    margin-bottom: 10px;
}

#underfooter .widget-body {
    padding-top: 20px;
    border-top: 1px solid #CCC;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  float: left;
  margin: 0 10px 0 0;
}

#underfooter .row {
    border-top: 1px solid #CCC;
    padding-top: 30px;
}

.footer-logo {
    text-transform: uppercase !important;
    font-size: 1.75rem !important;
    letter-spacing: 3px !important;
    font-weight: 200 !important;
    color: #666;
    border-right: 1px solid #CCC;
    padding-right: 20px;
    margin-right: 20px !important;
}

.footer-logo img {
    max-width: 200px;
}
	
/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 999px){
	.about-community .thumbnail .img {width: 135px; height: 135px;}
		.home #head .title {font-size: 3rem;}
}

@media (min-width: 500px) and (max-width: 767px) {
	.about-community .thumbnail {float:none;}
	.thumbnail .img {width: 240px; height: 240px;}
	#header {height: 75vh;}
	.home #head {position: absolute; bottom: 30%; padding-top: 0;}
	.home #head .title {font-size: 3rem;}
	.home #head .tagline {font-size: 1.5rem;}
	/*Ministry*/
	/*.ministry-overview {
	 background-size: 200% !important;
    background-position: top left !important;
    background-position-y: -80px !important;
    background-attachment: initial !important;
    padding-top: 350px;
    }*/
    .ministry-overview .col-sm-6 {background: rgba(0,0,0,0.7); padding: 30px;}
    .contact input[type="email"], .contact input[type="input"], .contact textarea[name="message"] {
    float: none;
    width: 100%;
    max-width: 100%;
}

	.footer-logo {
    padding-right: 0;
    margin-right: 0;
    border-right: none;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 0px 10px;
}
	
}

@media (max-width: 499px) {
	.about-community .thumbnail {float:none;}
	 .nav-logo {  font-size: 2rem;}
	#header {height: 75vh;}
	.mobile.background-right {background-position: right !important;}
	.home #head {position: absolute; bottom: 30%; padding-top: 0;}
	.home #head .title {font-size: 2.5rem;}
	.home #head .tagline {font-size: 1rem;}
	/*Ministry*/
	.right {left: 5%;}
	/*.ministry-overview {
	background-size: 200% !important;
    background-position: top left !important;
    background-attachment: initial !important;
    padding-top: 200px;
    }*/
    .ministry-overview .col-sm-6 {background: rgba(0,0,0,0.7); padding: 20px;}
    .contact input[type="email"], .contact input[type="input"], .contact textarea[name="message"] {
    float: none;
    width: 100%;
}
	.footer-logo {
    padding-right: 0;
    margin-right: 0 !important;
    border-right: none;
}
.campaign-button {width: 100% !important;}
.portfolio-hover-content .btn-primary { width: 100%;}
.nav-logo img {max-width: 180px;}
.navbar-collapse .navbar-nav > li > a {
  padding: 0px 10px;
}

}

@media (max-width: 785px) {
	p.footer-info {width: 100%;}
	#underfooter p {line-height: 1.25rem; height: 80px;}
	p.footer-logo {padding-top: 10px;}
	}
	
/*********************************************************************


                                SHARE THIS


**********************************************************************/
.st-custom-button[data-network] {
   background-color: #fff;
   display: inline-block;
   padding: 0px 5px 20px 5px;
   cursor: pointer;
   font-weight: bold;
   color: #666666;
   &:hover, &:focus {
      color: #004488;
   }
}
/*List*/
img.list {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
img.article {width: 50%; margin: 0 auto; margin-bottom: 20px; margin-top: 20px;}
/*About*/
.bg-fixed-inset {
	background-size: contain !important;
	background-color: #111 !important;
	background-attachment: fixed !important;
	color: white;
	background-repeat: no-repeat !important;
	background-position: center !important;
	box-shadow: inset 0px 10px 60px #000;
	-moz-box-shadow: inset 0px 10px 60px #000;
	-webkit-box-shadow: inset 0px 10px 60px #000;
	min-height: 100vh;
	border-top: 40px solid rgb(122,156,73);
	border-bottom: 40px solid rgb(122,156,73); 
}
.bg-fixed-inset h2 {color: white;}
.bg-fixed-inset h3 {color: white; font-size: 1.25rem; font-variant: small-caps;}
.about-oversight img {
    width: 150px;
    margin: 0 auto;
}
.about-oversight h4 { text-align: center; }
.oversight {margin-top: 40px;}

/*Campaign*/

.call_title {
    font-variant: small-caps;
}

span.action {
    color: white;
    /* letter-spacing: 0px; */
    font-variant: small-caps;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.campaign-button-row {width: 100%;}
.campaign-button {
    display: inline-block !important;
    width: 30%;
    margin-right: 1% !important;
    margin-bottom: 20px !important;
    color: white;
    text-shadow: none;
    letter-spacing: 1px;
    font-size: 1em;
    padding: 15px 0px;
}
.ministry-overview .campaign-button {width: 48%;}
.green1 {background: rgb(113,156,116);}
.green2 {background: rgb(184,205,186);}
.green3 {background: rgb(122,156,73);}
.greenalpha08 {background: rgba(122,156,73,0.8);}

h2.campaign_staff_name {
    color: #666;
    font-variant: small-caps;
    text-align: center;
    margin-top: -40px;
}

h6.campaign_staff_title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #666;
    text-align: center;
}

.servant-leaders h2, .donate h2 {
    font-variant: small-caps;
    text-align: center;
    margin-bottom: 30px;
}

.portfolio-hover-content {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.section.servant-leaders {
    border-top: 40px solid rgb(122,156,73);
    box-shadow: 0px -5px 60px #333;
}

.donate {background: white;}

.strategy-all {min-height: 100vh;}
.strategy-all h4 {
    color: #CCC;
    margin: 20px 0px;
    text-align: center;
}
.strategy-all h6.lead {color: #CCC; border-bottom: 1px solid #666;}
.strategy-tabs {}
.strategy-overview {margin-bottom: 40px;}
/* Style the tab */
div.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: rgba(255,255,255,0.1);
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: rgba(255,255,255,0.2);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent .btn {
    width: 19%;
    padding: 15px 10px;
    display: inline-block;
    text-align: center;
    white-space: normal;
    min-height: 80px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 5px #000;
}
.plan {width: 24% !important;}

li.strategy-tab {
    width: 32%;
    display: inline-block;
    list-style-type: none;
    text-align: center;
    font-size: 2rem;
}
li.strategy-tab img {width: 50%;}

.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
    margin-top: 20px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Cormorant Garamond", serif;
    font-size: 20px;
    font-style: italic;
    max-width: 600px;
    margin: 0 auto;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.about-team .portfolio-item p {min-height: 315px;}.
.servant-leaders .portfolio-item p {min-height: 150px;}
@media (min-width: 768px) {
	.about-team .portfolio-item { min-height: 700px;}
}

.img-centered {
    margin: 0 auto;
}
/*About Home*/
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: rgb(122,156,73);
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
    color: #FFF;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }
}

