html {
  font-size: 100%;
}
body {
  font-size: 15px;
  font-size: 0.9375rem;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #666666;
  padding: 0;
}
.topspace {
  margin-top: 40px;
}
/*********************************************************************


                            Navigation in header


**********************************************************************/
.navbar {
  border-width: 1px 0;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
  margin-bottom: 0;
}
.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .85;
  background: white;
}
.navbar.stick {
    padding: 0px 0px;
    height: 50px !important;
    min-height: 50px;
    background: rgba(0,0,0,0.4);
    opacity: 1;
}
.navbar-collapse {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.navbar-collapse.in {background: rgba(0,0,0,0.4);}
.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: right;
}
.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}
.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}
.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left;
}
.dropdown ul.dropdown-menu > li > a {
  padding: 5px 30px;
}
.navbar-default {
  background-color: transparent;
  border: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00002c+0,9da9c3+100&0.5+0,0+100 */
background: -moz-linear-gradient(top,  rgba(0,0,44,0.5) 0%, rgba(157,169,195,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,44,0.5) 0%,rgba(157,169,195,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,44,0.5) 0%,rgba(157,169,195,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8000002c', endColorstr='#009da9c3',GradientType=0 ); /* IE6-9 */
min-height: 100px;
padding: 20px 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  text-shadow: 1px 1px 10px #333;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #EEE;
  background-color: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
.navbar-default .dropdown ul.dropdown-menu > li > a {
  color: #454545;
}
.navbar-default .dropdown ul.dropdown-menu > li > a:hover {
  background-color: #eeeeee;
  color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #FFF;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #cccccc;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #ffffff;
  color: #000000;
}

.nav-logo {
    float: left;
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 200;
    color: #FFF;
    letter-spacing: 5px;
    text-shadow: 1px 1px 10px #333;
}

.nav-logo a {color: white;}
.nav-logo a:hover, .nav-logo a:visited, .nav-logo a:active {
    color: white;
    text-decoration: none;
}
.navbar-sticky.stick .nav-logo {display:none;}
/******************************************************************************


                                     Sidebar special Nav


*********************************************************************************/
.nav-side {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -0.37em;
}
.nav-side > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #f392b4;
}
.nav-side > li > a:hover {
  color: #bd1550;
  background: none;
}
.nav-side > li.active > a {
  color: #bd1550;
}
/*********************************************************************


                                TYPOGRAPHY


**********************************************************************/
p {
  line-height: 1.6em;
  margin: 0 0 30px 0;
  font-weight: 200;
}
ul,
ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
  font-weight: 200;
}
blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333333;
}
h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2 {
  font-size: 36px;
  font-size: 2.25rem;
}
h3 {
  font-size: 30px;
  font-size: 1.875rem;
}
h4 {
  font-size: 24px;
  font-size: 1.5rem;
}
h5 {
  font-size: 20px;
  font-size: 1.25rem;
}
a {
  color: rgb(41,164,207);
}
a:hover {
  color: rgb(41,164,207);
  text-decoration: underline;
}
.lead {
  font-weight: 300;
  font-size: 21px;
  font-size: 2rem;
}

h6.lead {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #CCC;
    margin: 0 auto;
    padding: 0 0 30px 0;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 100;
    color: #AAA;
    margin-bottom: 30px;
    max-width: 767px;
    min-width: 250px;
}

.subheader .btn-action {margin: 0 auto; max-width: 200px; display: block;}
.text-msg {
  line-height: 1.7em;
  color: #b3b3b3;
  font-weight: 300;
  text-transform: capitalize;
  margin-top: -0.23em;
}
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}
/*********************************************************************


                                HEADER


**********************************************************************/
#header {
  /*background: #f4f4f4 url(../images/AbideWeb-360.jpg) center left no-repeat;*/
  background-size: cover;
  color: #7C7C7C;
  padding: 0 0 35px 0;
  height: 100vh;
  border-bottom: 20px solid rgb(0,0,44);
    box-shadow: 0px 3px 10px #333;
}
[data-slides] {
	background-image: url(../images/AbideWeb-360.jpg); /* Default image. */
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	transition: all 0.7s ease;s
}

#head img.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}
#head .title {
  font-family: Montserrat, sans-serif;
  font-size: 49px;
  font-size: 3.0625rem;
}
#head .title a {
  text-decoration: none;
  color: #333333;
}
#head .tagline {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.2em;
  color: #7C7C7C;
  margin: 5px 0 0;
}
#head .tagline b {
  font-weight: normal;
}
#head .tagline a {
  color: #DDD;
  text-shadow: 1px 1px 10px #333;}

.home #head {
 position: absolute;
 bottom: 10%;
}

.right {
	right: 5%;
}
.left { left: 5%; }

.tagline .btn-action {margin: 15px 0; border-color: #CCC;}
.home #head .title {
  font-size: 35px;
  font-size: 4.0rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  text-shadow: 1px 1px 10px #333;
}
.home #head .tagline {
  font-size: 16px;
  font-size: 2rem;
  margin: 5px 0 0;
color: #DDD;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 200;
  text-shadow: 1px 1px 10px #000;
}
/*********************************************************************


                                BOOTSTRAP


**********************************************************************/
.container {width: 100%; max-width: 100%; padding: 0;}
.section {width: 100%; padding: 5%;}
.row {max-width: 970px; margin: 0 auto;}
/*********************************************************************


                                CONTENT


**********************************************************************/
img {
  max-width: 100%;
}
.btn {
  font-size: 12px;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: #666;
  -webkit-border-radius: 0px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0px;
  -moz-background-clip: padding;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border: 0 none;
  padding: 12px 35px;
  text-shadow: 0 1px 0px #780d33;
}
.btn-primary {
  color: #fff;
  background-color: #bd1550;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  color: #fff;
  background-color: #e61f65;
}
.btn-action {
  font-weight: 400;
  background: transparent!important;
  border: 1px solid #666;
  text-shadow: none;
}
.btn-action:hover,
.btn-action:focus,
.btn-action:active,
.btn-action.active {
  color: #999;
  border-color: #999
}
.btn-lg {
  padding: 15px 60px;
  font-size: 12px;
  line-height: 1.33;
  font-weight: bold;
}
.panel-cta {
  box-shadow: 0 0 0 1px #e1e1e1, 0 0 0 3px #fff, 0 0 0 4px #e1e1e1;
  background: #f3f3f3;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
}
.panel-cta p,
.panel-cta h3,
.panel-cta h4,
.panel-cta h5,
.panel-cta h6 {
  margin: 0;
}
.panel-cta .panel-body {
  padding: 35px;
}
/* Section - Featured */
.featured {
  font-size: 13px;
  font-size: 0.8125rem;
}
.featured h3 {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1.4em;
  vertical-align: middle;
  margin: 0 0 25px 0;
}
/* Section - Recent works */
.recentworks {
	background:url('../images/ministries_bg.jpg') no-repeat top right;
	color: white;
	background-size:cover;
}

.recentworks .section-title {color: white;}
p.our-community {
    width: 75%;
    font-size: 1.25rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}

.thumbnails {
  padding: 0;
}
.thumbnails li {
  margin-bottom: 30px;
}
.thumbnails .details {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}
.thumbnail {
  display: block;
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  border: 0 none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  background: none;
}
.thumbnail .img {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  width: 210px;
  height: 210px;
  margin: 0 0 20px;
  position: relative;
  border-radius: 50%;
  box-shadow: 0px 1px 15px #111;
}
.thumbnail .title {
  text-transform: uppercase;
  margin: 0 2em;
  display: block;
  text-indent: 0;
}
.thumbnail .cover {
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 550ms;
  -moz-transition-duration: 550ms;
  -o-transition-duration: 550ms;
  transition-duration: 550ms;
  display: none;
}
.thumbnail .cover .more {
  position: absolute;
  bottom: 15px;
  right: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 20px;
  -webkit-border-radius: 1px 0 0 1px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 1px 0 0 1px;
  -moz-background-clip: padding;
  border-radius: 1px 0 0 1px;
  background-clip: padding-box;
  font-size: 12px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-shadow: 0 1px 0px #780d33;
  background: #bd1550;
  color: white;
}
.thumbnail img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.thumbnail:hover {
  color: #CCC;
  text-decoration: none;
}
.thumbnail:hover img {
-webkit-filter: saturate(55%);
}
.thumbnail:hover .cover {
  opacity: 1;
}
/* pagination */
.pagination > li > a {
  color: #808080;
  border: 0 none;
  font-size: 20px;
  font-size: 1.25rem;
  font-family: Georgia, serif;
}
.pagination > li > a:hover {
  color: #000000;
  background: none;
}
.pagination > li.active > a {
  color: #333333;
  background: none;
}
.pagination > li.active > a:hover {
  color: #000000;
  background: none;
}

/* Verse*/
p.quote-body {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 200;
    margin-top: 30px;
}
p.reference {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
p.version {
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
}

/*Ministry Type*/
.ministry-button-row {width: 100%; text-align: center;}
.ministry-button {display: inline-block !important; width: 200px; margin-right: 20px !important;}
.ministry p.lead {font-weight: 200;}
.ministry-name {font-weight: 400; text-transform: uppercase;}
.donate-overview h3 {text-transform: uppercase; font-weight: 200;}
.donate .col-md-6 {
    padding-left: 0;
    padding-right: 25px;
}
.donate-overview .ministry-name {font-weight: 400;}
.ministry-overview h2 {
    color: white;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.75rem;
    text-shadow: 1px 1px 5px #111;
}
.ministry-overview {
    color: #CCC;
    font-weight: 200;
}
.contact h2 {color: #666; font-size: 1.75rem; text-transform: uppercase; font-weight: 200; text-align: center; margin-bottom: 20px;}
.overview-name {font-weight: 400;}
.contact form {clear: both;}
.contact input[type="email"], .contact input[type="input"], .contact textarea[name="message"] {
    min-width: 250px;
    max-width: 500px;
    display: block;
    margin-bottom: 20px;
    font-weight: 200;
    padding: 10px;
}
.contact input[type="email"], .contact input[type="input"] {float: right;}
.contact textarea[name="message"] {min-height: 150px;}
.contact button {
    font-weight: 300;
    text-transform: uppercase;
    background: white;
    border: 1px solid #999;
    padding: 5px 30px;
}
.section.contact {
    padding-top: 40px;
    border-top: 1px solid #CCC;
    /* margin-top: 40px !important; */
    clear: both;
}
/*********************************************************************


                                 BLOG


**********************************************************************/
.section-title,
.entry-title {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0px 0 25px;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 36px;
  font-size: 2.25rem;
  letter-spacing: 1px;
}
.section-title a,
.entry-title a {
  color: #333333;
}
.section-title span,
.entry-title span {
  display: inline-block;
  position: relative;
}
.section-title span:before,
.entry-title span:before,
.section-title span:after,
.entry-title span:after {
  content: "";
  position: absolute;
  height: 4px;
  top: .53em;
  width: 400%;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.section-title span:before,
.entry-title span:before {
  right: 100%;
  margin-right: 45px;
}
.section-title span:after,
.entry-title span:after {
  left: 100%;
  margin-left: 45px;
}
.entry-header .entry-meta {
  text-align: center;
  font-family: Georgia, serif;
  font-size: 18px;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: normal;
  color: #a5a5a5;
  margin: 0 0 15px 0;
}
.entry-header .entry-meta a {
  color: #a5a5a5;
}
.entry-content {
  margin: 0 0 60px 0;
}
.entry-content h2 {
  line-height: 1.2;
  font-size: 30px;
  font-size: 1.875rem;
  padding-top: 20px;
  margin-bottom: 20px;
}
.meta-nav,
.more-link {
  font-family: Georgia, serif;
  font-style: italic;
  font-weight: bold;
  color: #666666;
  text-decoration: none;
}
.meta-nav:hover,
.more-link:hover {
  color: #333333;
  text-decoration: underline;
}
.more-link {
  display: block;
  width: 100%;
  text-align: right;
}
/* Posts navigation */
#nav-below {
  position: fixed;
  top: 48%;
}
#nav-below .meta-nav {
  display: block;
  padding: 27px 7px;
  background: #444;
  color: #fff;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  font-family: "MontserratMontserrat", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.2;
}
#nav-below .meta-nav:hover {
  text-decoration: none;
  color: #333;
}
#nav-below .nav-next {
  position: fixed;
  right: -3px;
}
#nav-below .nav-previous {
  position: fixed;
  left: -3px;
}
#nav-below b {
  display: none;
}
footer.entry-meta {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0 0 35px 0;
  padding: 2px 0;
  color: #888888;
  font-size: 12px;
  font-size: 0.75rem;
}
footer.entry-meta a {
  color: #333333;
}
footer.entry-meta .meta-in {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: none;
  text-align: left;
}
.page-header .page-title {
  margin-top: 0;
  margin-bottom: 30px;
}
/*********************************************************************


                                COMMENTS


**********************************************************************/
#comments {
  font-size: 13px;
  font-size: 0.8125rem;
}
#comments .comments-title {
  margin: 0 0 5px 0;
}
#comments .leave-comment {
  display: block;
  margin: 0 0 40px 0;
}
#comments ul,
#comments ol {
  margin: 0;
  padding: 0;
}
#comments .comment {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}
#comments .comments-title {
  text-shadow: none;
  margin-bottom: 0;
}
#comments .avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  border: 5px solid #eeeeee;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#comments .children {
  margin: 0 0 0 90px;
}
#comments .comment-meta {
  margin: 0 0 0 90px;
}
#comments .comment-meta a {
  color: #333333;
}
#comments .comment-meta a:hover {
  color: #bd1550;
}
#comments .comment-meta .author {
  margin: 0 20px 0 0;
  font-weight: bold;
}
#comments .comment-meta .date {
  margin: 0 20px 0 0;
}
#comments .comment-meta .date a {
  color: #666666;
}
#comments .comment-meta .reply {
  float: right;
}
#comments .comment-body {
  margin: 0 0 35px 90px;
}
.comment-navigation {
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 2px 0 0 0;
}
.comment-navigation .nav-content {
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 10px 0 0 0;
}
.comment-navigation .nav-previous {
  float: left;
  width: 50%;
}
.comment-navigation .nav-next {
  float: right;
  width: 50%;
  text-align: right;
}
#respond {
  margin: 55px 0 0 0;
}
/*********************************************************************


                                FOOTER


**********************************************************************/
#footer {
  background: #232323;
  padding: 30px 0 0 0;
  font-size: 12px;
  color: #999;
}
#footer a {
  color: #ccc;
}
#footer a:hover {
  color: #fff;
}
#footer h3.widget-title {
  font-size: 15px;
  font-size: 0.9375rem;
  text-transform: uppercase;
  color: #ccc;
  margin: 0 0 20px;
}
#underfooter {
  background: none;
  padding: 15px 0;
  color: #999;
  font-size: 12px;
}
#underfooter a {
  color: #aaa;
}
#underfooter a:hover {
  color: #fff;
}

#underfooter .col-md-12.widget {
    margin: 0 auto;
    text-align: center;
}
  #underfooter p {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 0.8rem;
    font-weight: 200;
    line-height: 2.5rem;
    display: inline-block;
    margin-bottom: 10px;
}

#underfooter .widget-body {
    padding-top: 20px;
    border-top: 1px solid #CCC;
}
.follow-me-icons {
  font-size: 30px;
}
.follow-me-icons i {
  float: left;
  margin: 0 10px 0 0;
}

#underfooter .row {
    border-top: 1px solid #CCC;
    padding-top: 30px;
}

.footer-logo {
    text-transform: uppercase !important;
    font-size: 1.75rem !important;
    letter-spacing: 3px !important;
    font-weight: 200 !important;
    color: #666;
    border-right: 1px solid #CCC;
    padding-right: 20px;
    margin-right: 20px !important;
}
	
/* Max page width
/////////////////////////////////////////////////////////////////////*/
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
	.thumbnail .img {width: 240px; height: 240px;}
	#header {background-position-x: right; background-size: cover;}
	
}

@media (max-width: 499px) {
	#header {background-position-x: right; background-position: -560px;}
}

@media (max-width: 785px) {
	p.footer-info {width: 100%;}
	#underfooter p {line-height: 1.25rem; height: 50px;}
	p.footer-logo {padding-top: 10px;}
	}
	
/*********************************************************************


                                SHARE THIS


**********************************************************************/
.st-custom-button[data-network] {
   background-color: #fff;
   display: inline-block;
   padding: 0px 5px 20px 5px;
   cursor: pointer;
   font-weight: bold;
   color: #666666;
   &:hover, &:focus {
      color: #004488;
   }
}

