{{ partial "header.html" . }}

<main id="main">

	<div class="container">
	
	<div class="section topspace strategy-subheader" id="subheader">
		<div class="row">
    		<div class="col-md-12">
    			<h6 class="lead">{{ $.Param "our_vision_title" }}</h6>
        			<p class="lead text-center text-muted about-mission-text">
        				{{ $.Param "our_vision_text" | markdownify }}
        			</p>
        			<center><a href="#overview"><button type="button" class="btn btn-primary">Learn More</button></a></center>
    		</div>
    	</div>
	</div> <!-- / section -->

	<div class="topspace strategy-all bg-fixed-inset" id="overview" style="background:url('{{ .Site.BaseURL }}{{ $.Param "overview_background" }}'); background-size: cover !important;">
	<div class="strategy-tabs">
		<div class="row">
			<h6 class="lead">Strategy Specifics</h6>
			<div class="tab">
			<ul>
			  <li class="strategy-tab"><button class="tablinks" onclick="openStrategy(event, 'People')" id="defaultOpen"><img src="{{ .Site.BaseURL }}images/icon.png" /><br><br>People</button></li>
			  <li class="strategy-tab"><button class="tablinks" onclick="openStrategy(event, 'Plans')"><img src="{{ .Site.BaseURL }}images/icon2.png" /><br><br>Plans</button></li>
			  <li class="strategy-tab"><button class="tablinks" onclick="openStrategy(event, 'Prayer')"><img src="{{ .Site.BaseURL }}images/icon3.png" /><br><br>Prayer</button></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="strategy-overview">
		<div class="row">
			<div id="People" class="tabcontent">
			  <h4>How do we develop the Christlike character needed to grow God's Kingdom?</h4>
			  <center>
			  {{ range .Site.Data.people }}
			  <a href="#peopleModal{{ .modalID }}" class="portfolio-link" data-toggle="modal"><button type="button" class="btn btn-primary greenalpha08 people">{{ .title | markdownify }}</button></a>
			  {{ end }}
			  </center>
			</div>

			<div id="Plans" class="tabcontent">
			<h4>What goes into a plan that grows God's Kingdom?</h4>
			  <center>
			  {{ range .Site.Data.plans }}
			  <a href="#plansModal{{ .modalID }}" class="portfolio-link" data-toggle="modal"><button type="button" class="btn btn-primary greenalpha08 plan">{{ .title | markdownify }}</button></a>
			  {{ end }}
			  </center>
			</div>

			<div id="Prayer" class="tabcontent">
			  <h4>What does prayer grow God's Kingdom?</h4>
			  <center>
			  {{ range .Site.Data.prayer }}
			  <a href="#prayerModal{{ .modalID }}" class="portfolio-link" data-toggle="modal"><button type="button" class="btn btn-primary greenalpha08 plan">{{ .title | markdownify }}</button></a>
			  {{ end }}
			  </center>
			</div>
		</div>
	</div>
	</div><!--Section-->



<div class="section topspace strategy-philosophy" id="philosophy">
	<div class="row">
		<div class="col-md-12"><h6 class="lead">{{ $.Param "strategy_philosophy_title" }}</h6>
		</div> 
		<div class="col-md-8 col-sm-offset-2">
		{{ .Content }}
		</div>
	</div>
</div><!-- / section -->

	</div>	<!-- /container -->

{{ partial "strategy_modal.html" . }}
</main>

{{ partial "footer.html" . }}
