{{ partial "header.html" . }}

<main id="main">

	<div class="container">
	
	<div class="section topspace subheader">
		<div class="row">
    		<div class="col-md-12">
    			<h6 class="lead">About Abide</h6>
        				<p class="lead text-center text-muted">
        					{{ $.Param "subheader" }}
        				</p>
    		</div>
    	</div>
	</div> <!-- / section -->


<div class="section topspace about-community">
<div class="row">
			<!-- Article main content -->
			<div class="col-sm-6 maincontent">
                {{ .Content }}
			</div>
			<div class="col-sm-6">
			{{ range $index, $area := .Site.Data.recentworks }}
                <a class="thumbnail" href="{{ .url }}">
                    <span class="img">
                        <img src="{{ .image }}" alt="">
                    </span>
                    <span class="title">{{ .name }}</span>
                </a>
        {{ end }}
			</div>
</div>			<!-- /Article -->
</div>

	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
