{{ partial "header.html" . }}

<main id="main">

	<div class="container">
	
	<div class="section topspace subheader">
<div class="row">
    <div class="col-md-12">
    	<h6 class="lead">About Abide</h6>
        <p class="lead text-center text-muted">
            We know that God’s desire for everyone is to love the Lord their God with all of their heart, soul, mind and strength and to love their neighbor. To love God and love others is the basis of abiding.
        </p>
    </div>
    </div>
</div> <!-- / section -->



			<!-- Article main content -->
			<article class="col-sm-12 maincontent">
                {{ .Content }}
			</article>
			<!-- /Article -->


	</div>	<!-- /container -->

</main>

{{ partial "footer.html" . }}
