<footer id="underfooter">
	<div class="container">
		<!--<div class="row">-->

			<div class="col-md-12 widget">
				<div class="widget-body">
					<p class="footer-logo"><a href="#header"><img src="{{ .Site.BaseURL }}{{ .Site.Params.footer_logo }}" /></a></p>
					<p class="footer-info">{{ .Site.Params.address }}  |  &copy; {{ .Site.Params.year }} {{ .Site.Params.sitename }}  |  All Rights Reserved. </p>
				</div>
			</div>
		<!--</div> <!-- /row of widgets -->-->
	</div>
</footer>



<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ .Site.BaseURL }}js/template.js"></script>
<script id="dsq-count-scr" src="//{{ .Site.Params.disqus.site }}/count.js" async></script>
{{ partial "analyticstracking.html" . }}
</body>
</html>
