<div class="section recentworks topspace" id="partners">
<div class="row">

    <h6 class="lead"><span>Our partners</span></h6>
    
    <p class="subtitle">Cultivate develops kingdom workers in partnership with both new and established organizations.</p>

    <div class="thumbnails row">

        {{ range $index, $area := .Site.Data.recentworks }}
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <a class="thumbnail" href="{{ .url }}">
                    <span class="img">
                        <img src="{{ .image }}" alt="">
                        <span class="cover"><span class="more">Ver detalles &rarr;</span></span>
                    </span>
                    <span class="title">{{ .name }}</span>
                </a>
                <h4></h4>
                <p></p>
            </div>
        {{ end }}
</div>
</div><!--/row-->
</div> <!-- /section -->
