<div class="section topspace subheader">
<div class="row">
    <div class="col-md-12">
    	<h6 class="lead">Who We Are</h6>
        <p class="lead text-center text-muted">
            We know that God’s desire for everyone <br>is to love the Lord their God with all of their <br>heart, soul, mind and strength and to love their neighbor. <br>To love God and love others is the basis of abiding.
        </p>
        <a class="btn btn-action text-center" href="about">Learn More</a>
    </div>
    </div>
</div> <!-- / section -->
