<div class="section topspace subheader" id="subheader">
<div class="row">
    <div class="col-md-12">
    	<h6 class="lead">Who is a kingdom worker?</h6>
        <p class="lead text-center text-muted">
            As defined by Jesus in Luke 10, a kingdom worker is a person of Christlike character - <strong>obedient to God, ready for any challenge, action-minded, and results-oriented</strong> - whose desire is to grow God’s Kingdom.
        </p>
        <a class="btn btn-action text-center page-scroll" href="#featured">Learn More</a>
    </div>
    </div>
</div> <!-- / section -->
