<div class="section topspace subheader">
<div class="row">
    <div class="col-md-12">
    	<img src="images/quote.jpg" class="text-center" style="display: block; margin: 0 auto;" />
        <p class="quote-body text-center text-muted">
            Anyone who confesses that Jesus is God’s son-God abides in them and they abide in God. 
And we have known and have believed the love which God has for us. God is love; those who abide in love abide in God, and God abides in them.
        </p>
        <p class="reference">1 John 4:15-16</p>
<p class="version">The Kingdom New Testatment</p>
    </div>
    </div>
</div> <!-- / section -->
